[submodule "library/TooBasic-Rpc"]
	path = TooBasic-Rpc
	url = https://github.com/SjonHortensius/TooBasic-Rpc
[submodule "library/TooBasic"]
	path = TooBasic
	url = https://github.com/SjonHortensius/TooBasic
[submodule "MaxMind"]
	path = MaxMind
	url = https://github.com/maxmind/MaxMind-DB-Reader-php
